<div class="col-lg-5 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
    <div class="info">
        <div class="address">
            <i class="bi bi-geo-alt"></i>
            <h4>Adres</h4>
            <p>Hacı Kadın Mahallesi, Hızırbey Cami Sk. No:18, 34134 KüçükPazar , Fatih/İstanbul</p>
        </div>

        <div class="email">
            <i class="bi bi-envelope"></i>
            <h4>Email:</h4>
            <p>arslan.ibo@hotmail.com</p>
        </div>

        <div class="phone">
            <i class="bi bi-phone"></i>
            <h4>Telefon:</h4>
            <p>+90 536 635 25 59</p>
        </div>
        <iframe src="https://www.google.com/maps/d/embed?mid=1JJhygVq23AAdcyVEs4IqUbBRg268EXE&ehbc=2E312F" width="640" height="480"></iframe>
    </div>
</div>