    <!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3>ARSLAN AMBALAJ</h3>
                    <p>
                        Hacı Kadın Mahallesi <br>
                        Hızırbey Cami Sk. No:18 KüçükPazar<br>
                        34134 Fatih/İstanbul <br><br>
                        <strong>Telefon:</strong> +90 536 635 25 59<br>
                        <strong>Mail:</strong> arslan.ibo@hotmail.com<br>
                    </p>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Linkler</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Ana Sayfa</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Hakkımızda</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Ürünler</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Gizlilik Politikası</a></li>
                    </ul>
                </div>

                @*<div class="col-lg-3 col-md-6 footer-links">
                    <h4>Our Services</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
                    </ul>
                </div>*@

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Diğer Sosyal Medya Hesapları</h4>
                    <div class="social-links mt-3">
                        <a href="https://www.facebook.com/profile.php?id=100064349303015" class="facebook"><i class="bx bxl-facebook"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container py-4">
        <div class="copyright">
            &copy; Copyright <strong><span>FAVİA</span></strong>. Tüm Hakları Saklıdır
        </div>
    </div>
</footer><!-- End Footer -->
