<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Ninestars Bootstrap Template - Index</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/Ninestars/Ninestars/assets/img/favicon.png" rel="icon">
    <link href="~/Ninestars/Ninestars/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/Ninestars/Ninestars/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/Ninestars/Ninestars/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Ninestars/Ninestars/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/Ninestars/Ninestars/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Ninestars/Ninestars/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/Ninestars/Ninestars/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/Ninestars/Ninestars/assets/css/style.css" rel="stylesheet">

</head>

<body>

    @await Html.PartialAsync("HeaderAndNavbarPartial")

    @await Html.PartialAsync("Feature")
    <br>
    <br>
    <main id="main">

        @await Html.PartialAsync("AboutPartial")
       

        @await Component.InvokeAsync("PortfolioList")
        <section id="contact" class="contact">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>İletişim</h2>
                    <p>Bizimle İletişime Geçin!</p>
                </div>

                <div class="row">



                    @await Html.PartialAsync("Contactİnformation")


                            @await Html.PartialAsync("SendMessage")

                </div>

            </div>
        </section><!-- End Contact Us Section -->


    </main><!-- End #main -->
                        @await Html.PartialAsync("FooterPartial")
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    <!-- Vendor JS Files -->
    <script src="~/Ninestars/Ninestars/assets/vendor/aos/aos.js"></script>
    <script src="~/Ninestars/Ninestars/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Ninestars/Ninestars/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/Ninestars/Ninestars/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/Ninestars/Ninestars/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/Ninestars/Ninestars/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/Ninestars/Ninestars/assets/js/main.js"></script>

</body>

</html>

