<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        @await Component.InvokeAsync("AdminNavbarProfile2")
        <li class="nav-item">
            <a class="nav-link" href="/AdminDefault/Index/">
                <span class="menu-title">Dashboard</span>
                <i class="mdi mdi-home menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/AdminEditProfile/">
                <span class="menu-title">Profilim</span>
                <i class="mdi mdi-contacts menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Post/PostListByWriter/">
                <span class="menu-title">Ürünlerim</span>
                <i class="mdi mdi-format-list-bulleted menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Post/PostAdd/">
                <span class="menu-title">Yeni Ürün</span>
                <i class="mdi mdi-chart-bar menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Contact/Index/">
                <span class="menu-title">İletişim</span>
                <i class="mdi mdi-notification-clear-all menu-icon"></i>
            </a>
        </li>  
        <li class="nav-item">
            <a class="nav-link" href="/Default/Index">
                <span class="menu-title">Siteye Git</span>
                <i class="mdi mdi-crosshairs-gps menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/AdminEditProfile/">
                <span class="menu-title">Ayarlar</span>
                <i class="mdi mdi-settings menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Login/LogOut/">
                <span class="menu-title">Çıkış Yap</span>
                <i class="mdi mdi-logout menu-icon"></i>
            </a>
        </li>
    </ul>
</nav>
